:root {
    --body-font: system-ui;
    font-family:
        var(--body-font), sans-serif;
    color: #1f1f1f;

    --accent-color: #dd6026;
    --accent-color-lighter: color-mix(in oklab, var(--accent-color) 90%, white 10%);
    --accent-color-darker: color-mix(in oklab, var(--accent-color) 90%, black 10%);

    --gap: 12px;
    --radius: 3px;

    font-size: 13pt;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*:focus-visible {
    outline: 2px var(--accent-color) solid;
    outline-offset: 2px;
}

body {
    background-color: #eeeeee;
    min-height: 100dvh;
    margin: 0;
}

#app {
    width: min(100% - 3rem, var(--container-max, 72ch));
    margin-inline: auto;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-gap {
    gap: 12px;
}

.flex-even {
    justify-content: space-evenly;
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.drop-shadow {
    box-shadow: 0 12px 12px rgba(0 0 0 / 1%);
}

.panel {
    background-color: rgba(255 255 255 / 60%);
    backdrop-filter: blur(6px);
    border-radius: var(--radius);
    padding: 12px;
}

button {
    border: 2px solid var(--accent-color-darker);
    border-radius: var(--radius);
    background-color: var(--accent-color);
    color: #eee;
    padding: 0.1em 0.5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        border-color: var(--accent-color);
        background-color: var(--accent-color-lighter);
    }

    &:active {
        border-color: var(--accent-color);
        background-color: var(--accent-color-darker);
    }
}

label[for] {
    cursor: pointer;
}

input {
    &[type="text"], &[type="search"], &[type="email"], &[type="number"], &[type="date"] {
        font-family:
            var(--body-font), sans-serif;
        border: 2px rgba(0, 0, 0, 0.2) solid;
        border-radius: var(--radius);
        padding: 8px;
        background-color: rgba(255 255 255 / 40%);
    }

    &:user-invalid {
        background-color: rgba(255 50 50 / 20%);
    }
}

[aria-disabled] input,
[aria-disabled] button,
input[aria-disabled],
button[aria-disabled],
input:disabled,
button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

select {
    border: 2px rgba(0, 0, 0, 0.2) solid;
    border-radius: var(--radius);
    padding: 8px;
    background-color: rgba(255 255 255 / 40%);
}

label + input, label > input {
    margin-left: var(--gap);
}

.timer-grid {
    display: grid;
    grid-template-columns: auto 1fr 6ch;
    gap: var(--gap);

    .timer-grid-row {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 3;

        .right-align {
            text-align: end;
        }
    }

    input[type=range] {
        margin: 0;
    }
}

.address-book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);

    .user-form-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--gap);

        .user-form-grid-row {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: span 2;
            align-items: center;
        }
    }

    .user-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        border: 2px rgba(0, 0, 0, 0.2) solid;
        border-radius: var(--radius);

        button {
            text-align: start;
            font-weight: normal;
            color: black;
            background: none;
            border: none;
            border-radius: 0;
            padding: 3px;

            &:hover {
                background-color: #CCCCCC;
            }

            &.selected {
                background-color: #888888;
                color: white;
            }
        }
    }
}
